@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/src/variables.scss';

.hero {
  background-color: $secondary-color;
  padding: 1.5rem 0;

  &-text {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }

    h3 {
      font-weight: normal;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-weight: 400;
    }

    .button {
      @include media-breakpoint-down(lg) {
        margin: 0 auto;
      }
    }
  }

  &-img {
    background: $primary-color;
    padding: 10rem;
    max-width: 10rem;
    border-radius: 11rem;
    margin: auto;
  }

  &-icons {
    text-align: right;
    height: 100%;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}
